@import "tailwindcss";

@theme inline {
  /* Colors - The Financial Architect */
  --color-primary: #0054cc;
  --color-primary-dim: #0040a1;
  --color-primary-fixed: #dae2ff;
  --color-primary-fixed-dim: #b2c5ff;
  --color-primary-container: #226cf4;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #001847;
  --color-on-primary-fixed-variant: #0040a1;
  --color-on-primary-container: #fefcff;

  --color-secondary: #465d96;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #a7bdfd;

  --color-background: #faf8ff;
  --color-surface: #faf8ff;
  --color-surface-dim: #d8d9e5;
  --color-surface-bright: #faf8ff;
  --color-surface-variant: #e1e2ed;
  --color-surface-tint: #0056d1;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f3fe;
  --color-surface-container: #ecedf9;
  --color-surface-container-high: #e7e7f3;
  --color-surface-container-highest: #e1e2ed;
  --color-on-background: #191b23;
  --color-on-surface: #191b23;
  --color-on-surface-variant: #424655;

  --color-outline: #737786;
  --color-outline-variant: #c2c6d7;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;

  /* Fonts */
  --font-headline: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;

  /* Border Radius */
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #faf8ff;
  color: #191b23;
}

.font-headline {
  font-family: 'Manrope', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
